//colors
$bg-color-1: #f9f4ef;
$bg-color-2: #fffffe;
$bg-color-3: #eaddcf;

$accent: #8c7851;
$tertiary: #f25042;

$grey: #cecece;
$grey-dark: #36454d;

$font-primary: #fffffe;
$font-headline: #182840;
$font-para: #716040;

//breakpoints
$v-20: 125em; //2000px
$v-16: 100em; //1600px
$v-14: 87.5em; //1400px
$v-12: 75em; //1200px
$v-10: 62.5em; //1000px
$v-9: 56.25em; //900px
$v-7: 43.75rem; //700
$v-6: 37.5em; //600px
$v-5: 31.25em; //500px
